<%- include ("./partials/header") %>
<div class="container paragraf text-center">
	<div>
	  <h2>ABOUT</h2>
	<hr class="short-line">
	<div class="img-space">
		<img class="pawn text-center" src="https://i.imgur.com/2MjBOPH.png">
	</div>
	
	  <div class="hr-space">
	    <h3>HOTELUL HAPPY PAWN HOTEL ESTE DESCHIS PE TOATA DURATA SAPTAMANII, ANGAJANDU-SE SA ASIGURE INGRIJIREA ANIMALUTULUI DUMNEAVOASTRA PE TOATA DURATA SEDERII IN HOTELUL NOSTRU.</h3>
	   </div>
	  <div>
		  <h4>Bine ati venit la Happy Pawn Hotel, singurul hotel de 5 stele pentru caini si pisici din Municipiul Cluj-Napoca, conceput cu un singur obiectiv in minte: sa asigure confortul maxim si siguranta fiecarui oaspet cu patru labute. Suntem deplin incredintati ca animalutele noastre de companie nu sunt doar niste caini si pisici. Ei sunt atat sustinatorii nostri #1, cat si terapeuti si educatori.</h4>
		</div>
	   <div>
		   <h4>Ei sunt cei mai buni prieteni si sunt membri ai familiei...si ar trebui tratati ca atare. Oaspetilor nostri rasfatati li se va oferi cea mai buna ingrijire si cel mai bun tratament. Nu numai ca dispunem de facilitati de lux pentru animalutul dumneavoastra in fiecare colt al intreprinderii noastre, dar siguranta si bunastarea animalului dumneavoastra de companie este prioritatea noastra. </h4>
		</div>
	   <div>
		   <h4>De la cazari luxoase fara custi, echipate cu televizoare cu ecran plat, serviciu de ingrijire al animalutului si experti in antrenamentul catelului dumneavoastra, ne-am gandit la toate atunci cand a venit vorba despre animalutul dumneavoastra de companie.</h4>
		</div>
	   <div>
		   <h4>Happy Pawn Hotel, echipat cu filtru de apa si aer in intreaga noastra instalatie, ofera o experienta de neegalat asemanatoare cu spa-ul pentru animalutul dumneavostra de companie. Serviciile de acupunctura efectuate de specialistii nostri ii vor relaxa chiar si pe oaspetii cei mai energici si vor alina pe acei oaspeti care sufera de afectiuni.</h4>
		 </div>
		<div>
			<h4>Toti membri personalului nostru sunt instruiti astfel incat sa acorde primul ajutor animalutului dumneavoastra, astfel incat veti avea liniste sufleteasca in timp ce animalutul dumneavoastra de companie ramane alaturi de noi.</h4>
		 </div>
	    <div>
			<h4>Suntem localizati in Municipiul Cluj-Napoca, cartierul Manastur la o distanta de aproximativ 12 km de Aeroportul International Avram Iancu din Cluj-Napoca si la 6 km de Gara Centrala. Doriti ca animalutul dumneavoastra sa fie preluat si transportat cu masina? Oh, facem si asta. Doar intrebati. </h4>
		 </div>
	</div>
	<br>
</div>
<%- include ("./partials/footer") %>