<%- include ("./partials/header") %>
<div class="container paragraf">
	<div class="text-center h2-top">
	  <h2>DAYCARE</h2>
	</div>
	 <div class="hr-space-bottom">
		<hr class="short-line ">
	  </div>
	<div class="text-center paragraf schedule">
		<H4>LUNI - VINERI 7:00 - 19:00 / SAMBATA 7:00 - 18:00 / DUMINICA 9:00 - 16:00</H4> 
	</div>
	<div>
		<img src="https://i.imgur.com/Bdej5ua.png" class="img-fluid" alt="Responsive image">
	</div>
	<div>
		<div class="img-space">
			<img class="pawn text-center" src="https://i.imgur.com/2MjBOPH.png">
		</div>
		<div class="h2-bottom">
			<h3 class="paragraf text-center animate__animated animate__rubberBand">VINO SI FA-TI PRIETENI NOI</h3>
		</div>
		
	</div>
	<div class="text-center paragraf text-space-bottom-large">
		<p>Prietenului tau cu patru picioruse ii va placea sa vina la Happy Pawn Hotel si sa isi faca prieteni noi la Daycare.</p>
		<p>Oferim peste 3000 de metri patrati de joc atat in interior, cat si in exterior. Pardoseala din cauciuc este folosita in interior pentru confort.</p>
		<p>Happy Pawn Hotel are ca prioritate siguranta animalului dumneavostra de companie. Cainii sunt separati in functie de dimensiune si temperament in cele patru parcuri personalizate.</p>
		<p>Happy Pawn Hotel are echipamente de joaca personalizate, special concepute pentru caini.</p>
		<p>Cainii sunt supravegheati in permanenta de catre membri personalului nostru.</p>
		<p><Strong>Tot staful nostru este certificat in acordarea primului ajutor.</Strong></p>
		<p><Strong>Animalutul dumneavoastra se va rasfata, va invata jocuri, va primi multa dragoste si va face ceea ce cainii adora - SA SE JOACE!</Strong></p>
	</div>
	<div class="paragraf text-center">
		<h5><strong>PRETURI</strong></h5>
		<p>Zi completa Luni-Sambata | 100 RON</p>
		<p>Zi completa Duminica | 80 RON</p>
		<p>Jumatate de zi ( pana la 6 ore) Luni-Sambata | 80 RON</p>
		<p>Jumatate de zi ( pana la 4 ore) Duminica | 50 RON</p>
	</div>
	<div class="paragraf text-center ">
		<p>
			<strong>PACHETELE INTREAGA ZI SI JUMATATE DE ZI EXPIRA INTR-UN AN ( 365 DE ZILE) DIN MOMENTUL ACHIZITIONARII.</strong>
		</p>
		 <p>
			 <strong>PACHETELE LUNARE NELIMITATE EXPIRA IN 30 DE ZILE DIN MOMENTUL ACHIZITIONARII.</strong>
		    </p>
	</div>
	
	<div class="paragraf text-center">
		<h5><strong>PACHETE</strong></h5>
	</div>
	<div class="paragraf text-center">
		<h6><strong>ZI COMPLETA</strong></h6>
		<p>
			Pachet 10 zile - Zi Completa 100 RON pe zi | 1000 RON per pachet
		</p>
		<p>
			Pachet 20 zile - Zi Completa 95 RON pe zi | 1950 RON per pachet
		</p>
		<p>
			Luna nelimitata - 30 de zile 50 RON pe zi | 1500 ron per pachet
		</p>
	</div>
	<div class="paragraf text-center">
		<h6><strong>JUMATATE DE ZI</strong></h6>
		<p>
			Pachet 10 zile - Jumatate de zi ( pana la 6 ore) 60 RON pe zi | 600 RON per pachet
		</p>
		<p>
			Pachet 20 zile - Jumatate de zi 52 RON pe zi | 1040 RON per pachet
		</p>
	</div>
	<div class="paragraf text-center">
		<h6><strong>SEDERE PE O ZI</strong></h6>
		<p>
			Pachet Sedere Pe O Zi Nelimitat - 30 de zile 45 RON pe zi | 1350 RON per pachet
		</p>
	</div>
	<div class="paragraf text-center">
		
	</div>
	 <div class="text-space text-center paragraf">
		  <p>
			<strong>PACHETELE LUNARE NELIMITATE EXPIRA IN 30 DE ZILE DIN MOMENTUL ACHIZITIONARII.</strong>
		</p>
	  </div>

 <div class="row featurette">
          <div class="col-md-7">
			  <div class="text-space-bottom">
            <h5><strong>SEDERE PE O ZI</strong></h5>
			  </div>
			  <div class="paragraf text-space-bottom">
	   Sederea pe o zi este o alternativa pentru oaspetii de zi care sunt catei mai putin sociali sau mai in varsta. O camera privata de lux va asteapta cu doua locuri de oaca individuale, incluse pentru catelul dumneavoastra impreuna cu un membru al echipei noastre.
	  </div>
	   <div class='paragraf'>
		   <p>
			   <strong>Cainii care necesita cazare de o zi: </strong>
		   </p>
	   </div>
	   <div class="paragraf">
		   <ul>
			   <li><Strong>Cateii timizi sau cateii care nu se simt conformatabil alaturi de o multime de caini.</Strong></li>
			   <li><Strong>Cainii care sunt agresivi sau carora nu le plac compania altor catei.</Strong></li>
			   <li><Strong>Cainii mai in varsta care au probleme de mobilitate.</Strong></li>
			   <li><Strong>Cateii in calduri.</Strong></li>
		   </ul>
	   </div>
	   <div>
		   <p>
			   Sederea pe o zi este valabila si pentru pisicile care au nevoie de un loc unde sa stea si sa se joace pe parcursul unei zile. 
		   </p>
	   </div>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://foisoare-garduri.ro/wp-content/uploads/2020/04/17-500x500.jpg" alt="Generic placeholder image">
          </div>
        </div>

<br>

 <div class="paragraf text-center">
	<h4>
		PRIMA DATA LA HPH?
	 </h4>
  </div>
<br>
   <div class="paragraf text-center">
	   <p>
		Te rugam sa citesti <a href="/faq">FAQ</a> despre vaccinuri, programul de check-in si check-out si politicile noastre de anulare a rezervarii.
	   </p>
</div>
<br>
<div class="paragraf text-center">
	<h5>
		<strong>INTREABA DESPRE SERVICIUL NOSTRU DE TRANSPORT AL ANIMALUTELOR.</strong>
	</h5>
	<br>
</div>


<%- include ("./partials/footer") %>