<%- include ("./partials/header") %>
<div class="container paragraf">
	<div class="text-center">
	  <h2>FAQ</h2>
	<div class="hr-space-bottom">
		<hr class="short-line">
		</div>
	 </div>
	<div>
		<h3 class="text-color">ORE, REZERVARI SI TURURI </h3>
	</div>
	<div>
		<h4>Care sunt orele in care hotelul dumnevoastra functioneaza?</h4>
		<ul>
			<li>Pentru siguranta oaspetilor nostri, Happy Pawn Hotel functioneaza 24 de ore pe zi, 365 de zile pe an.</li>
			<li>Receptia noastra este deschisa in urmatorul interval orar:</li>
			<ul>
				<li>Luni-Vineri: 7:00-19:00</li>
				<li>Sambata: 7:00-18:00</li>
				<li>Duminica: 7:00-16:00</li>
			</ul>
			<li>Receptia noastra este inchisa in zilele de sarbatoare astfel incat nu se pot face cazari si plecari in urmatoarele zile:<Strong> Ziua Unirii Principatelor Romane, Pasti, Ziua Muncii, Ziua Copilului, Rusalii, Adormirea Maicii Domnului, Sfantul Andrei, Ziua Nationala a Romaniei, Craciun si Anul Nou</Strong></li>
		</ul>
		<h4>Cum pot sa fac o rezervare?</h4>
		<ul>
			<li><strong>La telefon</strong>-Puteti face o rezervare vorbind cu personalul nostru prietenos la numarul de telefon 0749041844</li>
			<li><strong>In persoana</strong> - Puteti opri oricand la receptia hotelului nostru in intervalele orare mentionate mai sus</li>
		</ul>
		<h4>De ce am nevoie pentru a putea face o rezervare?</h4>
		<ul>
			<li>Happy Pawn Hotel cere ca la momentul rezervarii sa se lase un depozit. In perioadele fara varf/concediu, este necesara o garantie aferenta unei nopti de cazare. In perioadele de varf/vacanta, este necesara o garantie aferenta a doua nopti de cazare</li>
			<li>Documentatia actuala privind vaccinarea trebuie trimisa cu cel putin 3 zile inainte de efectuarea check-in-ului in perioadele fara varf/concediu. In perioadele de varf/sarbatori, documentele trebuie trimise cu cel putin 10 zile inainte de check-in</li>
			<li>Happy Pawn Hotel solicita de asemenea ca pentru oaspetii care se cazeaza pentru prima data in hotelul nostru, documentele trebuie trimise inainte de rezervare prin urmatoarele metode:</li>
			<ul>
				<li>Email: <strong>info@happypawnhotel.com</strong></li>
				<li>Fax: +40264422078</li>
				<li>In persoana: Receptie Happy Pawn Hotel</li>
			</ul>
			<li>Oaspetii canini de 4 luni sau mai in varsta trebuie sa indeplineasca toate cerintele cu privire la vaccinare inainte de a putea face rezervarea</li>
			<li>Catelusii trebuie sa aiba cel putin 12 saptamani si sa aiba facute primele doua serii de vaccine inainte de a putea face o rezervare</li>
			<li>La varsta de 1 an, toti catelusii trebuie sa fie castrati ca sa se poata juca impreuna in parc. Dupa varsta de 1 an, vom evalua temperamentul si reactia lor fata de alte animale de companie din parc. Femelele care sunt vor fi in calduri in perioada cat sunt cazate in incinta noastra, vor fi mutate intr-un spatiu separat, acest lucru generand costuri suplimentare</li>
			<li>Oaspetii feline trebuie sa indeplineasca toate cerintele cu privire la vaccinare inainte de a putea face o rezervare</li>
			<li>Toate felinele trebuie sa fie castrate</li>
		</ul>
		<h4>Ce se intampla daca trebuie sa anulez rezervarea?</h4>
		<ul>
			<li><strong>In perioada fara varf/vacanta</strong>- In aceasta perioada, puteti anula rezervarea fara costuri suplimentare, cu pana la trei zile inainte de a efectua check-in-ul. Anularea rezervarii cu mai putin de trei zile inainte de check-in va duce la pierderea depozitului aferent unei nopti de cazare.</li>
			<li><strong>In perioada de varf/sarbatori</strong>- Datorita cererii mari de la Happy Pawn Hotel in perioadele de varf/satbatori, avem o politica stricta privind anularile in aceasta perioada. In acest timp, puteti anula rezervarea, fara penalitati, cu pana la cinci zile inainte de a efectua check-in-ul. Anularile care au loc cu mai putin de cinci zile inainte de a efectua check-in-ul sau prin prisma faptului ca nu va veti prezenta la hotel, va duce la pierderea depozitului dumneavoastra aferent a doua nopti de cazare. Rezervarile create cu cinci zile inainte de a va caza la hotelul nostru si ulterior anulate sau necazandu-va in incinta noastra vor duce de asemenea la pierderea totala a depozitului.</li>
		</ul>
		<h4>Care sunt zilele in care nu se pot efectua cazari si plecari?</h4>
		<ul>
			<li><strong>2020:</strong> 24 ianuarie ( Ziua Unirii Principatelor Romane) <strong>-</strong> 17 aprilie ( Vinerea Mare) <strong>-</strong> 19-20 aprilie ( Paste )<strong>-</strong> 1 mai ( Ziua Muncii) <strong>-</strong> 1 iunie ( Ziua Copilului) <strong>-</strong> 7-8 iunie ( Rusalii) <strong>-</strong> 15 august ( Adormirea Maicii Domnului) <strong>-</strong> 30 noiembrie ( Sfantul Andrei) <strong>-</strong> 1 decembrie ( Ziua Nationala a Romaniei) <strong>-</strong> 25-26 decembrie ( Sarbatoarea Nasterii Domnului) <strong>-</strong> 1-2 ianuarie ( Anul Nou)</li>
			<li><strong>2021:</strong> 24 ianuarie ( Ziua Unirii Principatelor Romane) <strong>-</strong> 30 aprilie ( Vinerea Mare) <strong>-</strong> 2-3 mai ( Paste )<strong>-</strong> 1 mai ( Ziua Muncii) <strong>-</strong> 1 iunie ( Ziua Copilului) <strong>-</strong> 20-21 iunie ( Rusalii) <strong>-</strong> 15 august ( Adormirea Maicii Domnului) <strong>-</strong> 30 noiembrie ( Sfantul Andrei) <strong>-</strong> 1 decembrie ( Ziua Nationala a Romaniei) <strong>-</strong> 25-26 decembrie ( Sarbatoarea Nasterii Domnului) <strong>-</strong> 1-2 ianuarie ( Anul Nou)</li>
		</ul>
		<h4>Pot face un tur al hotelului?</h4>
		 <ul>
			<li>Desigur, iubim vizitatorii. Ne poti vizita oricand intre orele 10-18. Nu este necesare rezervare pentru a ne vizita.</li>
		</ul>
		<h4>Hotelul vostru este securizat?</h4>
		<ul>
			<li>Desigur, avem securitate 24/7/365. Hotelul nostru dispune de detectoare de fum care vor alerta politia si pompierii in cazul unei urgente.</li>
		</ul>
	</div>
	<div class="text-space-top-m">
		<h3 class="text-color">VACCINURI</h3>
	</div>
	<div>
		<h4>Care vaccinuri sunt necesare pentru ca pisica mea sa se poate caza?</h4>
		<ul>
			<li>Happy Pawn Hotel cere ca toate oaspetele noastre feline sa aiba urmatoarele vaccinuri facute:</li>
			<ul>
				<li><strong>Rabie</strong>- curent in ultimul an pentru catei si in ultimii trei ani pentru cainii adulti, in functie de vaccinarea oferita.</li>
				<li><strong>Bordetella</strong>- curent in ultimul an sau 6 luni in functie de vaccinarea oferita.</li>
				<li><strong>Examnarea scaunului</strong>- curent si curat in ultimul an.</li>
			</ul>
			<li>Toate felinele cu vasta de 16 saptamani ( 4 luni) vor aduce o dovada ca au efectuate toate vaccinurile la zi.</li>
			<li>Pisicile trebuie sa aiba vasta de minimum 12 saptamani si sa aiba facute primele doua serii de vaccinari, inclusis vaccinul pentru bordetella. Dumneavoastra sau veterinarul dumneavoastra puteti trimite documentatia prin fax la numarul de telefon <strong>+40264422078</strong> sau prin email la adresa <strong><em>info@happypawnhotel.com</em></strong></li>
		</ul>
		<h4>Care vaccinuri sunt necesare pentru ca catelul meu sa se poate caza?</h4>
		<ul>
			<li>Happy Pawn Hotel cere ca toti oaspetii nostri canini sa aiba urmatoarele vaccinuri facute:</li>
			<ul>
				<li><strong>Rabie</strong>- curent in ultimul an pentru catei si in ultimii trei ani pentru cainii adulti, in functie de vaccinarea oferita.</li>
				<li><strong>Bordetella</strong>- curent in ultimul an sau 6 luni in functie de vaccinarea oferita.</li>
				<li><strong>Examnarea scaunului</strong>- curent si curat in ultimul an.</li>
			</ul>
			<li>Toti oaspetii canini cu vasta de 16 saptamani ( 4 luni) vor aduce o dovada ca au efectuate toate vaccinurile la zi.</li>
			<li>Catelusii trebuie sa aiba vasta de minimum 12 saptamani si sa aiba facute primele doua serii de vaccinari, inclusis vaccinul pentru bordetella. Dumneavoastra sau veterinarul dumneavoastra puteti trimite documentatia prin fax la numarul de telefon <strong>+40264422078</strong> sau prin email la adresa <strong><em>info@happypawnhotel.com</em></strong></li>
		</ul>
		<h4>Mai sunt alte lucruri care sunt necesare privind vaccinarea?</h4>
		<ul>
			<li>HPH solicita ca toate animalele de companie sa aiba un examen fecal actual pentru a se asigura ca nu au paraziti interni. Solicitam ca toti oaspetii necuvantatori ai hotelului nostru sa fie intr-un program lunar de tratament impotriva puricilor. La cazare, toate animalutele vor primi o doza de Capstar pentru a elimina eventualii purici. Urmam aceasta politica strica deoarece urmarim sa mentinem acest hotel un spatiu fara paraziti astfel incat fiecare animalut de companie sa poata sta si sa se poata juca in siguranta.</li>
		</ul>
		<div>
          <h3 class="text-color">SOSIREA LA HPH</h3>
		 </div>
		<div>
			<h4>Ce trebuie sa aduc impreuna cu cainele meu in ziua sosirii la HPH?</h4>
			<ul>
				<li>Mancare si recompense</li>
				<li>Medicamente( trebuie sa fie in ambalajul original impreuna cu instructiunile scrie de medicul veterinar)</li>
				<li>Gulere pentru catei/pisicute</li>
				<li>Jucariile animalelor de companie(noi sau in stare buna)</li>
			</ul>
			<div>
				<p>Happy Pawn Hotel solicita oaspetilor nostri sa-si asigure mancarea. Va rugam sa puneti fiecare masa in pungi separate, etichetate fiecare cu numele animalului dumneavoastra de companie. Asta inseamna ca trebuie ca trebuie sa va asigurati ca animalul dumneavoastra de companie primeste cantitatea necesare de mancare. Va rugam sa va asigurati ca aduceti suficienta mancare pentru toata durata sederii animalului dumneavoastra. In cazul in care mancarea dumneavoastra se va termina, va vom servi animalul de companie cu mancare preparata in bucataria noastra. Va rugam sa retineti ca veti fi taxat cu pana la <span>20 RON / masa. </span> Daca nu doriti sa aduceti mancarea proprie a animalului dumneavoastra de companie, bucataria noastra va sta la dispozitie la pretul de <span>20 RON / masa</span>, pana la trei msese pe zi.</p>
			</div>
			<div>
				<p>De asemenea va oferim Brit Premium, un preparat natural, fara conservanti, premium, fara fara gluten, cu gust de pui, vita si somon. Are un gust divin, iar pretul este de doar 30 RON pentru o masa.</p>
			</div>
			<div>
				<p>Animalele de companie sunt hranite de doua ori pe zi - dimineata si seara. Cu toate acestea, daca doriti putem hrani animalutul si la orele pranzului. La cerere, putem pregati mese specializate, inclusiv mancare gatita daca este necesar. In cazuri speciale, se poate aplica o taxa de 20 RON / zi. Pentru super oaspetii nostri de companie, putem pregati un filet, pui sau peste cu orez si fasole verde.</p>
				<p>Va rugam sa lasati in scris instructiunile detaliate cu privire la masa in formularul nostru de la receptie.</p>
			</div>
			<div>
				<p>Personalul hotelului poate administra medicamentele orale pentru suma de 4 RON / doza, pana la maximum 20 RON / zi.</p>
			  </div>
			<div>
				<p>Medicamentele trebuie sa fie in recipientul original si etichetate corespunzator cu numele animalului dumneavoastra de companie. Atunci cand va veti caza, va rugam sa completati instructiunile detaliate cu privire la modul de administrare al medicamentatiei.</p>
			</div>
			<div>
				<p>Happy Pawn Hotel accepta jucarii de cauciuc noi si moi. Nu sunt permise jucarii care au colturi ascutite, Acest lucru este pentru a asigura sanatatea animalului dumneavoastra de companie, deoarece membrii personalului nostru o sa tina evidenta starii jucariei. Daca jucaria este uzata sau lipsesc bucati din ea, personalul nostru va reactiona chemand veterinarul, pe cheltuiala proprietarului.</p>
			</div>
			<div>
				<p>Happy Pawn Hotel ofera paturi curate si confortabile pentru fiecare animal de companie. Pentru a mentine un mediu curat, nu este permisa scoaterea paturilor in exteriorul incintei.</p>
			</div>
		 </div>
		<div>
			<h4>Ce trebuie sa aduc impreuna cu pisica mea in ziua sosirii la HPH?</h4>
			<ul>
				<li>Mancare si recompense</li>
				<li>Medicamente( trebuie sa fie in ambalajul original impreuna cu instructiunile scrie de medicul veterinar)</li>
				<li>Gulere pentru catei/pisicute</li>
				<li>Jucariile animalelor de companie(noi sau in stare buna)</li>
			</ul>
			<div>
				<p>Happy Pawn Hotel solicita oaspetilor nostri sa-si asigure mancarea. Va rugam sa puneti fiecare masa in pungi separate, etichetate fiecare cu numele animalului dumneavoastra de companie. Asta inseamna ca trebuie ca trebuie sa va asigurati ca animalul dumneavoastra de companie primeste cantitatea necesare de mancare. Va rugam sa va asigurati ca aduceti suficienta mancare pentru toata durata sederii animalului dumneavoastra. In cazul in care mancarea dumneavoastra se va termina, va vom servi animalul de companie cu mancare preparata in bucataria noastra. Va rugam sa retineti ca veti fi taxat cu pana la <span>20 RON / masa. </span> Daca nu doriti sa aduceti mancarea proprie a animalului dumneavoastra de companie, bucataria noastra va sta la dispozitie la pretul de <span>20 RON / masa</span>, pana la trei msese pe zi.</p>
			</div>
			<div>
				<p>De asemenea va oferim Brit Premium, un preparat natural, fara conservanti, premium, fara fara gluten, cu gust de pui, vita si somon. Are un gust divin, iar pretul este de doar 30 RON pentru o masa.</p>
			</div>
			<div>
				<p>Animalele de companie sunt hranite de doua ori pe zi - dimineata si seara. Cu toate acestea, daca doriti putem hrani animalutul si la orele pranzului. La cerere, putem pregati mese specializate, inclusiv mancare gatita daca este necesar. In cazuri speciale, se poate aplica o taxa de 20 RON / zi. Pentru super oaspetii nostri de companie, putem pregati un filet, pui sau peste cu orez si fasole verde.</p>
				<p>Va rugam sa lasati in scris instructiunile detaliate cu privire la masa in formularul nostru de la receptie.</p>
			</div>
			<div>
				<p>Personalul hotelului poate administra medicamentele orale pentru suma de 4 RON / doza, pana la maximum 20 RON / zi.</p>
			  </div>
			<div>
				<p>Medicamentele trebuie sa fie in recipientul original si etichetate corespunzator cu numele animalului dumneavoastra de companie. Atunci cand va veti caza, va rugam sa completati instructiunile detaliate cu privire la modul de administrare al medicamentatiei.</p>
			</div>
			<div>
				<p>Happy Pawn Hotel accepta jucarii de cauciuc noi si moi. Nu sunt permise jucarii care au colturi ascutite, Acest lucru este pentru a asigura sanatatea animalului dumneavoastra de companie, deoarece membrii personalului nostru o sa tina evidenta starii jucariei. Daca jucaria este uzata sau lipsesc bucati din ea, personalul nostru va reactiona chemand veterinarul, pe cheltuiala proprietarului.</p>
			</div>
			<div>
				<p>Happy Pawn Hotel ofera paturi curate si confortabile pentru fiecare animal de companie. Pentru a mentine un mediu curat, nu este permisa scoaterea paturilor in exteriorul incintei.</p>
			</div>
		 </div>
	</div>
	<div class="text-space-top-m ">
		<h3 class="text-color">CAZAREA LA HAPPY PAWN HOTEL</h3>
	</div>
	 <div>
		 <h4>Oamenii se pot caza la hotelul dumneavoastra?</h4>
		 <p>Happy Pawn Hotel este destul de frumos pentru oameni, dar suntem doar trup si suflet pentru catelul si pisica dumneavoastra.</p>
		 <h4>Ce este inclus in cazarea catelului meu?</h4>
		 <ul>
			 <li>Supraveghere 24 de ore</li>
			 <li>Paturi premium</li>
			 <li>Lenjerie de pat curata, confortabila</li>
			 <li>Usi de sticla - fara custi</li>
			 <li>Serviciu de menaj zilnic</li>
			 <li>Aer purificat</li>
			 <li>Apa filtrata continuu</li>
			 <li>Room Service, oferind pana la 3 mese pe zi</li>
			 <li>Mesele vor fi servite conform instructiunilor lasate de parintele animalului de companie</li>
			 <li>TV pentru caini si filme pentru animale de companie</li>
			 <li>Multa atentie si dragoste personalizata</li>
			 <li>Alegeti dintr-o mare varietate de facilitati personalizate - Creati-va propria experienta!</li>
		 </ul>
		 <h4>Ce este inclus in cazarea pisicii mele?</h4>
		 <ul>
			 <li>Supraveghere 24 de ore</li>
			 <li>Fiecare apartament are propriul sistem de ventilatie</li>
			 <li>Usi de sticla - fara custi</li>
			 <li>Lenjerie de calitate premium, curata, confortabila</li>
			 <li>Vedere la acvariul nostru de apa sarata de 4 metri</li>
			 <li>Zona privata a litierei</li>
			 <li>Serviciu zilnic de menaj</li>
			 <li>Room Service, oferind pana la 3 mese pe zi</li>
			 <li>Mesele vor fi servite conform instructiunilor lasate de parintele animalului de companie</li>
			 <li>Apa filtrata continuu</li>
			 <li>Multa atentie si dragoste personalizata</li>
			 <li>Alegeti dintr-o mare varietate de facilitati personalizate - Creati-va propria experienta!</li>
		 </ul>
	  </div>
	<div class="text-space-top-m">
		<h3 class="text-color">DAY CARE,DAY STAY SI INGRIJIRE SPECIALA</h3>
	</div>
	<div>
	<div>
		<h4>DAY CARE</h4>
		<p><strong>Daycare</strong> este un mediu supravegheat, fara custi, in care cateii cu acelasi temperament se joaca impreuna in zonele noastre de joaca din interior/exterior. Avem trei trei zone mari de joaca pentru a separa cainii mici, mijlocii si mari. Toate grupurile vor fi rotite pe perioada zilei astfel incat fiecare grupa sa se joace in aer liber. Fiecare caine va participa la o zi de evaluare, unde vom studia temperamentul, stilul de joaca si nivelul de energie al animalului. Daycare este disponibila de luni-vineri intre orele 7-19, sambata intre orele 7-18 si duminica intre 9-16. Va rugam sa va luati cainele la timp pentru a nu plati taxa de intarziere. </p>
	</div>
	<div>
		<h4>DAY STAY</h4>
		<p><strong>Daystay</strong> este un mediu supravegheat, fara custi, in care cateii cu acelasi temperament se joaca impreuna in zonele noastre de joaca din interior/exterior. Avem trei trei zone mari de joaca pentru a separa cainii mici, mijlocii si mari. Toate grupurile vor fi rotite pe perioada zilei astfel incat fiecare grupa sa se joace in aer liber. Fiecare caine va participa la o zi de evaluare, unde vom studia temperamentul, stilul de joaca si nivelul de energie al animalului. Daycare este disponibila de luni-vineri intre orele 7-19, sambata intre orele 7-18 si duminica intre 9-16. Va rugam sa va luati cainele la timp pentru a nu plati taxa de intarziere. </p>
	</div>
  <div>
	  <h4>ESTE NEVOIE DE O REZERVARE PENTRU DAY CARE SAU DAY STAY?</h4>
	  <ul>
		  <li>Recomandam cu mare incredere rezervarile, in special in perioada de varf/sarbatori. S-ar putea ca sa fim nevoiti sa returnam cateii daca ajungem la un numar maxim de caini/personal. De asemenea recomandam rezervari pentru oaspetii la Day Stay, in special in perioadele de varf/sarbatori. Este posibil ca sa returnam cainii daca nu avem o camera disponibila.</li>
	  </ul>
	</div>
	<div>
		<h4>DACA CAINELE MEU NU SE JOACA CUM TREBUIE CU CEILALTI CAINI?</h4>
		<ul>
			<li>HPH direste sa asigure siguranta tuturor oaspetilor care sunt cazati in unitatea noastra, precum si sa ofere ingrijire de calitate pentru animalul dumneavoastra. Vom oferi animalului dumneavoastra de companie care nu se incadreaza in programul nostru Day Stay, toate facilitatile Camerei Deluxe, plus doua ore de joc individual de 30 de minute cu un membru al personalului nostru.</li>
		</ul>
	</div>
	<div>
		<h4>VETI ACCEPTA CATELUSA MEA DACA ESTE IN CALDURI?</h4>
		<ul>
			<li>Desigur! Pentru siguranta animalutului dumneavoastra si a celorlalte animalute, animalutul dumneavoastra va fi un oaspete la <strong>Day Stay</strong>, si va primi 3 plimbari individuale impreuna cu un membru al personalului nostru. Datorita carateniei ingrijirii suplimentare pentru animalul dumneavoastra de companie, se va percepe o taxa suplimentare de 100 RON / zi, in plus fata de taxa aferenta Day Care sau tarifului camerei.</li>
		</ul>
	</div>
	<div>
		<h4>CARE ESTE PROGRAMUL HAPPY SPECIAL CARE?</h4>
		<ul>
			<li>Programul Happy Special Care este destinat animalelor de companie care necesita medicamentatie frecventa, pe langa ingrijirea de specialitate. Va rugam sa discutati cu personalul nostru prietenos de la receptie daca animalul dumneavoastra trebuie sa fie inclus in acest program. Programul Happy Special Care va costa suplimentar 100 RON / zi, datorita ingrijirii personalizate extinse necesare.</li>
		</ul>
	</div>
     </div>
	<div class="text-space-top-m">
		<h3 class="text-color">SERVICIILE SALON & SPA</h3>
	</div>
	<div>
		<h4>OFERITI SERVICII DE SALON & SPA CHIAR DACA NU SUNT CAZAT IN HOTEL?</h4>
		<p>Absolut! Oferim <strong>servicii de Salon & Spa</strong> ca sa va rasfatam animalul de companie. <strong><a href="/salon">Apasa aici pentru a vizualiza oferta noastra la Salon & Spa.</a></strong></p>
	</div>
	<br>
</div>
<%- include ("./partials/footer") %>