<%- include ("./partials/header") %>

<div class="container">
	<div id="carouselExampleIndicators" class="carousel slide paragraf text-center" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.travelnuity.com/wp-content/uploads/2018/12/Affordable-Dog-Friendly-Hotels-USA-1080x810.jpg" alt="First slide">
	  <div class="carousel-caption d-none d-md-block">
	   <h3>HAPPY PAWN HOTEL OFERA OASPETILOR NOSTRI NECUVANTATORI CEA MAI INALTA CALITATE DE CONFORT SI INGRIJIRE</h3>
       <h5><a class="border-text color-white" href="/rooms">ROOMS</a></h5>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.woodlanduniversity.com/storage/app/media/IMG_E4612.jpg" alt="Second slide">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>ANIMALUTUL DUMNEAVOASTRA DE COMPANIE VA INVATA JOCURI, VA PRIMI O MULTIME DE IUBIRE SI VA FACE CEEA CE CATEILOR LE PLACE SA FACA - SA SE JOACE!</h3>
          <h5><a class="border-text color-white" href="/daycare">DAYCARE</a></h5>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/93o7uTk.jpg" alt="Third slide">
	    <div class="carousel-caption d-none d-md-block">
	      <h3>VINO SI FA-TI PRIETENI NOI</h3>
		  <p>Prioritatea principala a hotelului Happy Pawn Hotel este siguranta animalutului dumneavoastra de companie. Cainii sunt separati in functie de statura si temperament in cele 4 parcuri personalizate de care dispunem.</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<div class="img-space">
		<img class="pawn text-center" src="https://i.imgur.com/2MjBOPH.png">
	</div>
	<div class="text-space-bottom">
		<h2 class="text-center">BINE ATI VENIT LA HAPPY PAWN HOTEL</h2>
	</div>
	<h4 class="paragraf text-center">Vino si experimenteaza singurul hotel de 5 stele din Municipiul Cluj-Napoca, special personalizat pentru nevoile animalului dumneavoastra</h4>
	<div class="hr-space">
		<hr class="short-line">
	</div>
	<h4 class="paragraf text-center text-color animate__animated animate__backInDown">TOATE CAMERELE INCEP DE LA PRETUL DE 220 RON/NOAPTE</h4>
	<div class="hr-space">
		<hr class="short-line">
	</div>

	<div class="paragraf text-center text-space-bottom">
	  <p> Happy Pawn Hotel se angajeaza sa ofere cel mai inalt nivel de rasfatare, <span><a href="/salon">ingrijire</a></span>  si <span><a href="/training">dresaj</a></span> atat pentru catei, cat si pentru pisici.
	   </p>
	  <p> De la socializare pana la interactiunea fata in fata, Happy Pawn Hotel o sa va depaseasca toate asteptarile.
	    </p>
	   <p> Toti cainii si toate pisicile care vor intra in hotelul nostru vor fi tratati ca si cum ar fi ai nostri, permitandu-va sa stati linistiti pe perioada in care sunteti departe de animalutul vostru preferat.
	    </p>
	</div>
	<div class="paragraf text-center">
		<header class="jumbotron">
		<p><strong>PERSONALUL CALIFICAT AL HOTELULUI HAPPY PAWN HOTEL VA STA LA DISPOZITIE 24 DE ORE DIN 24, 7 ZILE PE SAPTAMANA CA SA VA FURNIZEZE TOATE INFORMATIILE LEGATE DE ANIMALUTUL DUMNEAVOASTRA</strong></p>
		<p><strong>Pentru rezervari va rugam sa ne contactati la numarul de telefon 0749041844</strong></p>
	</div>
		</header>
     <div class="paragraf row img-space-2">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://imgix.bustle.com/uploads/shutterstock/2019/8/12/c3e8ffd5-17a7-4461-99c2-c807deb0e923-shutterstock-1212436684.jpg?w=970&h=546&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70" alt="Generic placeholder image" width="250" height="250">
            <h3 >CAZARE</h3>
            <p>Happy Pawn Hotel ofera oaspetilor nostri necuvantatori cea mai inalta calitate de confort si ingrijire, oferind un numar de 50 de camere personalizate pentru catelul sau pisica ta.</p>
            <p><a class="btn btn-secondary" href="/rooms" role="button">Vezi detalii &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://jianlizheng.files.wordpress.com/2016/10/pet-spa-pink.jpg" alt="Generic placeholder image" width="250" height="250">
            <h3>SALON & SPA</h3>
            <p>Rasfatati-va animalutul dumneavoastra de companie in salonul de spa al hotelului Happy Pawn Hote. Personalul nostru se bucura de experienta cu toate rasele de animale de companie.</p>
            <p><a class="btn btn-secondary" href="/salon" role="button">Vezi detalii &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
         <div class="col-lg-4">
            <img class="rounded-circle" src="https://img1.wsimg.com/isteam/stock/2803" alt="Generic placeholder image" width="250" height="250">
            <h3>DRESAJ</h3>
            <p>Coada cainelui tau nu va mai sta pe loc dupa antrenamentul de la HPH. Dispunem de o zona speciala, sigura si linistita dedicata celui mai bun prieten necuvantator.</p>
            <p><a class="btn btn-secondary" href="/training" role="button">Vezi detalii &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
	 <br>
</div>

<%- include ("./partials/footer") %>
