<%- include ("./partials/header") %>
<div class="container paragraf">
	<div class="text-center h2-top">
	  <h2>SALON & SPA</h2>
	 <div class="hr-space-bottom">
	   <hr class="short-line">
	  </div>
	</div>
	<div class="text-center paragraf schedule">
		<H4>LUNI - VINERI 7:00 - 19:00 / SAMBATA 7:00 - 18:00 / DUMINICA 9:00 - 16:00</H4> 
	</div>
	<div>
		<img src="https://i.imgur.com/qo3CTy4.png" class="img-fluid" alt="Responsive image">
	</div>
	<div>
		<div class="img-space">
			<img class="pawn text-center" src="https://i.imgur.com/2MjBOPH.png">
		</div>
		<div class="h2-bottom">
		<h3 class="paragraf text-center animate__animated animate__rubberBand">RASFATATI-VA ANIMALUTUL DE COMPANIE IN INCINTA SPA-ULUI NOSTRU LUXOS DE LA HOTELUL HAPPY PAWN HOTEL</h3>
		</div>
	</div>
	<div class="paragraf text-center text-space-bottom-m">
		<h5>Personalul nostru se bucura de experienta cu toate rasele de animale de companie. Stilistii nostri stiu sa ofere o baie perfecta in SPA pentru a putea oferi o tunsoare si o pawdichiura impecabila, lasand animalultul dumneavoastra de companie mai fresh si mai fericit ca niciodata!</h5>
	</div>
	
<div class="row featurette">
          <div class="col-md-7">
			  <div class="text-space">
            <h5><strong>SPA SERVICES</strong></h5>
			  </div>
			  <div class="paragraf text-space-bottom">
	      Stilistul nostru pentru animalute de companie va va sfatui daca animalutul dumneavoastra va putea beneficia de urmatoarele proceduri:
	  </div>
	   <div class="paragraf">
		   <ul class="paragraf">
			   <li><strong><em>Baie</em></strong></li>
			   <li><strong><em>Tunsoare specifica rasei</em></strong></li>
			   <li><strong><em>Paw-dichiura</em></strong></li>
			   <li><strong><em>Tratament de albire a ochilor</em></strong></li>
			   <li><strong><em>Tratament facial</em></strong></li>
			   <li><strong><em>Tratament dermatologic</em></strong></li>
			   <li><strong><em>Tratament de luciu al blanii</em></strong></li>
			   <li><strong><em>Vopsirea blanii</em></strong></li>
			   <li><strong><em>Baie cu aromaterapie</em></strong></li>
		   </ul>
	   </div>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://i.imgur.com/2FuX6qS.jpg" alt="Generic placeholder image">
          </div>
        </div>

	
<div class="text-center text-space-top paragraf">
	<p>Serviciile Happy Pawn Salon & Spa sunt disponibile prin programare</p>
	<p>In functie de serviciile solicitate, programarile la salon difera</p>
	<p>Va rugam sa va programati astazi, contactand receptia noastra la numarul de telefon <strong>0749041844</strong></p>
</div>
<br>
<%- include ("./partials/footer") %>