<%- include ("./partials/header") %>
<div class="container paragraf">
	<div>
	  <h2 class="text-center">TRAINING</h2>
	<div class="hr-space-bottom">
	<hr class="short-line">
	 </div>
	</div>
	 <div class="text-center text-space-bottom-m ">
		<img src="https://i.imgur.com/wEZcNQo.png" class="img-fluid" alt="Responsive image">
	 </div>
	<div>
		<p>
			La Happy Pawn Hotel, sunt bineveniti cainii de toate varstele, rasele si nivelurile de abilitati care sa se antreneze cu noi. Credem ca educatia patrupedului joaca un rol esential in sustinerea relatiilor infloritoare dintre animalele de companie si stapanii lor. Personalul nostru calificat se va asigura ca membrul tau de familie va primi o pregatire de top folosindu-ne de metode de antrenare a cainilor care sunt dovedite din punct stiintific.
		</p>
	</div>
	<div class="text-left ">
		<h5>Oferim:</h5>
	 </div>
	  <div class="text-left">
		<ul>
		  <li>Pregatirea obedientei cainilor pentru a ajuta la corectarea problemelor de comportament, cum ar fi<span>sariturile</span>si<span>plimbarea cu lesa.</span></li>
		   <li>Cursuri personalizate pentru cateii a caror stapani sunt ocupati.</li>
		   <li>Activitati de antrenament distractive si interactive pentru a promova stimularea mentala.</li>
		   <li>Cursuri de antrenament pentru caini si catei pentru a ajuta la socializarea intre patrupezi.</li>
		   </ul>
	</div>
	<div class="text-space-bottom">
		<p>
			Pentru a beneficia de <Strong>cel mai bun</Strong> curs de dresaj canin, va invitam sa va inscrieti catelul la Happy Pawn Hotel.
		</p>
	</div>
	<div class="text-space-bottom">
	  <h4><strong>Pachete</strong></h4>
	</div>
	<div>
		<h5 class="text-color">
			<Strong>ACTIVITATI DE FORMARE</Strong>
		</h5>
		<h6>
			<Strong>Stai si Joaca : <span>220 RON</span></Strong>
		</h6>
		<p>
			Distractie interactiva cu unul dintre trainerii nostri certificati! Cainele dumneavoastra are nevoie de o reamintire la comenzile simple? Acest serviciu este realizat exclusiv cu un dresor, iar acesta va va ajuta catelul sa practice manierele de baza.
		</p>
		<h6>
			<Strong>Agilitate : <span>220 RON</span></Strong>
		</h6>
		<p>
			Pentru sportivul din animalut, catelul dumneavoastra va ajunge sa manevreze printre obstacole, acest lucru fiind totodata si distractiv.
		</p>
		<h6>
			<Strong>Adulmecare si Cautare : <span>220 RON</span></Strong>
		</h6>
		<p>
			Aceasta activitate este un mod minunat pentru un caine de a-si exercita mintea si de a-i stimula simturile! In loc sa ne concentram pe o simpla comanda, vom lucra astfel incat cainile dumneavoastra va trebui sa ia decizii inteligente pentru a obtine o recompensa.
		</p>
	</div>
	<div class="text-space-top-m">
		<h5 class="text-color">
			<Strong>CLASE PE GRUPE</Strong>
		</h5>
		<h6>
			<Strong>Cainele de zi cu zi : <span>700 RON</span></Strong>
		</h6>
		<p>
			Socilizeaza intr-un mediu sigur si curat si concentreaza-te pe captarea si pastrarea atentiei cainelui tau, comenzile de baza, abilitatile de ascultare si tehnicile de relaxare. Durata este de 1 ora pe saptamana, timp de 5 saptamani, iar programul va avea loc in ziua de sambata, intre orele 12-13.
		</p>
		<h6>
			<Strong>Socializare intre catelusi : <span>Gratis</span></Strong>
		</h6>
		<p>
			Construieste increderea catelusui tau si invata-l cum sa observe, sa inteleaga si sa se antreneze. Acest program este pentru cateii cu varsta cuprinsa intre 8-20 saptamani.
		</p>
	</div>
	<br>
</div>
<%- include ("./partials/footer") %>